<div class="h-full p-4 border lg:w-1/6 md:w-full md:mb-12 lg:mb-0 mxmd:w-full mxmd:mb-12 border-gray account-nav">
    <div class="relative">
        <h3 class="font-bold mobile-member-btn lg:hidden md:block">MEMBER PROFILE</h3>
        <div class="absolute top-0 right-0 pt-2 lg:hidden md:block"><img src="{{'Polygon-1.png' | file_img_url: 'master'}}" alt=""></div>  
    </div>
    <ul class="mb-20 md:hidden lg:block mobile-member-details mxmd:hidden">
        <li class="leading-8 details-list" id="account-profile" class="py-1"><a href="/account">MEMBER PROFILE</a></li>
        <li class="leading-8 details-list" id="account-order" class="py-1"><a href="/account?view=recent-orders" class="view-order">RECENT ORDERS</a></li>
        <li class="leading-8 details-list" id="account-wishlist" class="py-1"><a href="/account?view=wishlist">WISHLIST</a></li>
        <li class="leading-8 details-list" id="account-address" class="py-1"><a href="/account/addresses">ADDRESS BOOK</a></li>
        <li class="hidden leading-8 details-list" id="account-subscription" class="py-1"><a href="/account?view=subscription">SUBSCRIPTIONS</a></li>
        <li class="my-6 leading-8 details-list" class="py-1"><div><hr></div></li>
        <li class="leading-8 details-list" id="account-loyalty" class="py-1"><a href="/account?view=loyalty">LOOK LOYALTY</a></li>
        <li class="leading-8 details-list" id="account-voucher"class="py-1"><a href="/account?view=vouchers">VOUCHERS</a></li>
    </ul>
</div>