<div class="container mx-auto mxlg:hidden" id="countdown-container">
    <div class="flex justify-center items-center w-full bg-primary py-3">
        <div class="timer-container flex gap-1">
            <div class="bg-white text-primary flex flex-col p-1 rounded">
                <span class="block font-extrabold text-center text-base leading-4 tracking-widest" id="timer-days">00</span>
                <span class="uppercase text-center font-extrabold text-xsm tracking-wider">days</span>
            </div>
            <div class="bg-white text-primary flex flex-col p-1 rounded">
                <span class="block font-extrabold text-center text-base leading-4 tracking-widest" id="timer-hours">00</span>
                <span class="uppercase text-center font-extrabold text-xsm tracking-wider">hrs.</span>
            </div>
            <div class="bg-white text-primary flex flex-col p-1 rounded">
                <span class="block font-extrabold text-center text-base leading-4 tracking-widest" id="timer-minutes">00</span>
                <span class="uppercase text-center font-extrabold text-xsm tracking-wider">min.</span>
            </div>
            <div class="bg-white text-primary flex flex-col p-1 rounded">
                <span class="block font-extrabold text-center text-base leading-4 tracking-widest" id="timer-seconds">00</span>
                <span class="uppercase text-center font-extrabold text-xsm tracking-wider">sec.</span>
            </div>
        </div>
    </div>
</div>