<div id="HulkAppsReviews" class="hulkapps-reviews" data-type="allReviews">
  <div id="HulkAppsReviewsLoader" class="HulkAppsReviewsLoader"></div>
  <div id="HulkAppsReviewsContainer" style="display:none;">

    <div id="reviewsList">
      <div class="row reviews-header">
        <div class="col-sm-12 text-center">
          <h3 class="title-rating"><span v-text="totalReviews"></span> Reviews</h3>
          <div v-if="totalReviews > 0" class="avg-rating" v-html="getAvgRating()"></div>
        </div>
      </div>
      <div style="height: 20px;"></div>
      <div v-for="review in reviews.data" class="row">
        <div class="col-sm-12">
          <div class="review-item">
            <div class="row">
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 equalize">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="review-author" v-text="review.author"></div>
                    <div class="review-date text-uppercase" v-text="dateFormat(review.created_at)"></div>
                  </div>
                  <div class="col-sm-12">
                    <div style="height: 30px;"></div>
                    <div v-for="field in review.custom_fields" v-if="field.pivot.value" class="row review-custom-fields">
                      <div class="col-sm-12">
                        <strong v-text="field.name+':'" class="text-uppercase"></strong>
                      </div>
                      <div class="col-sm-12">
                        <span v-text="field.pivot.value"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div :class="{ 'col-xs-12 col-sm-7 col-md-7 col-lg-8': settings.image_upload_enabled, 'col-xs-12 col-sm-9 col-md-9 col-lg-10': !settings.image_upload_enabled }">
                <div class="review-details equalize">
                  <div class="review-rating">
                    <span v-html="getRating(review)"></span>
                  </div>
                  <div class="review-title text-uppercase" v-text="review.title"></div>
                  <div class="review-body" v-html="review.body"></div>
                  <div class="review-product-link">
                    <a :href="'/products/'+review.product_handle" target="_blank"><strong v-text="'On '+review.product_title"></strong></a>
                  </div>
                </div>
              </div>
              <div v-if="settings.image_upload_enabled" class="col-xs-12 col-sm-2 equalize">
                <img :src="review.image" class="review-image img-responsive" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <pagination :data="reviews.pagination" :limit="2" @pagination-change-page="getPagedResults"/>
    </div>
  </div>
</div>
