<div class="mx-auto account-page">

    <div class="flex flex-wrap w-full py-12 xl:px-0 md:px-4 mxmd:px-4 account-wrap">
      <!-- LEFT  -->
      {% include 'account-left-nav'%}
      <!-- END LEFT  -->
      <!-- RIGHT -->
      <div class="lg:w-5/6 lg:pl-8 md:pl-0 md:w-full mxmd:w-full account-details-main">
        <div class="border border-gray">
          <h3 class="p-4 text-base font-bold uppercase border-b mxmd:text-center border-gray">Your Subscription</h3>
          <div class="flex items-center justify-between border-b border-gray px-20px py-10px mxmd:flex-wrap">
            <div class="w-1/3 text-base font-bold mxmd:w-1/2">Newsletter</div>
            <div class="w-1/3 text-base mxmd:text-right mxmd:w-1/2">Subscribed</div>
            <div class="flex items-center justify-end w-1/3 text-base mxmd:w-2/3 mxmd:mx-auto mxmd:justify-center mxmd:mt-2">
              <button class="flex items-center justify-center w-2/3 p-2 text-sm font-bold uppercase border border-primary acc-sub-btn">Unsubscribe</button>
            </div>
          </div>
          <div class="flex items-center justify-between border-b border-gray px-20px py-10px mxmd:flex-wrap">
            <div class="w-1/3 text-base font-bold mxmd:w-1/2">LOOK Exclusive Newsletter</div>
            <div class="w-1/3 text-base mxmd:text-right mxmd:w-1/2">Subscribed</div>
            <div class="flex items-center justify-end w-1/3 text-base mxmd:w-2/3 mxmd:mx-auto mxmd:justify-center mxmd:mt-2">
              <button class="flex items-center justify-center w-2/3 p-2 text-sm font-bold uppercase border border-primary acc-sub-btn">Unsubscribe</button>
            </div>
          </div>
          <div class="flex items-center justify-between px-20px py-10px mxmd:flex-wrap">
            <div class="w-1/3 text-base font-bold mxmd:w-1/2">Promotional Reminders</div>
            <div class="w-1/3 text-base mxmd:text-right mxmd:w-1/2">Not Subscribed</div>
            <div class="flex items-center justify-end w-1/3 text-base mxmd:w-2/3 mxmd:mx-auto mxmd:justify-center mxmd:mt-2">
              <button class="flex items-center justify-center w-2/3 p-2 text-sm font-bold text-white uppercase bg-black border border-primary acc-sub-btn">Subscribe</button>
            </div>
          </div>
        </div>
      </div>
      <!-- END RIGHT -->
    </div>
  </div>
  
  