<main class="look-faq">
  <div class="container mx-auto mt-10 px-8 mb-24">
    <h2 class="md:text-32px text-lg font-bold uppercase text-center mb-8 ">Frequently Asked Questions</h2>

    {{ page.content }}

    {% comment %} <div class="body-section text-16px">
        
        <h5 class="font-bold uppercase underline">REGISTRATION</h5>
        <h5 class="font-bold">Do I need to register and set up an account to be able to order?</h5>
        <p class=" mb-16">Registration is required to place an order. As a registered user, there is no need to input your information each time you order, you can track your purchases, and you will be informed of upcoming promotions.</p>

        <h5 class="font-bold">What if I forget my username and password?</h5>
        <p class=" mb-16">From the login page, click on the ‘Forgot your Password?’ link. You will be prompted to provide the email address you used to register and click ‘Submit’. A temporary password will be sent to your email with a link to Log In and update your account information. The customer is responsible for providing the correct email address and for ensuring that the email address is active.</p>

        <h5 class="font-bold">How do I register?</h5>
        <p class=" mb-16">From the Beautybar online store homepage, register by clicking on the ‘Register’ link beside the search bar. You will be directed to this page https://www.Beautybar.ph/customer/account/create/ and can start to create a new account. You will be asked for your First Name, Last Name, Email Address and Account Password. A confirmation email will be sent to the email address you provided. Please provide a Valid and Active email address. The customer is responsible for providing the correct information necessary to receive email notifications and order status updates on time.</p>

        <h5 class="font-bold uppercase underline">PLACING AN ORDER</h5>
        <h5 class="font-bold">How do I place an order?</h5>
        <p class=" mb-10">All orders are placed online through the site. You may Shop according to Size by clicking on the size under the Menu Bar or simply click on the product you wish to purchase, choose the color, size, quantity and click on the ‘Add to Bag’ button, and proceed to either purchase additional items by clicking ‘Continue Shopping’ or to ‘Proceed to Checkout’ You may check the items in your Bag at any time and any page during your shopping by hovering over the ‘Bag’ icon at the topmost right of the page, right beside the Search. A number beside ‘Bag’ will correspond to the number of items you have saved in your Bag.</p>

        <p class=" mb-16">Saving items in your Shopping Bag does not mean a reservation. The facility allows you to keep track of what you want to buy until you are ready to make the payment. Note though that while Beautybar ensures that all items are adequately stocked, it is possible that the item you saved in your Bag may be unavailable by the time you make the purchase. When this happens, you can pay for the items that are available, and keep the out-of-stock items saved in your bag You can visit the site regularly to check availability. If you are a registered user, you will be notified by a customer service representative of the availability of the items saved in your bag.</p>

        <h5 class="font-bold">When is my order processed?</h5>
        <p class=" mb-16">Orders are processed during regular business hours, 9am to 6pm from Monday to Friday, not including holidays. Orders placed on non-business days (Saturday, Sunday and Holidays) will be considered as orders placed on the next business days.</p>

        <h5 class="font-bold">How soon will my order be processed?</h5>
        <p class=" mb-16">All orders are processed immediately after payment has been confirmed.</p>

        <h5 class="font-bold">Can I cancel my order?</h5>
        <p class=" mb-16">Since it would not be possible to change or cancel orders, it is highly recommended that all information and order details be reviewed and finalized before clicking the ‘PLACE ORDER’ button.</p>

        <h5 class="font-bold uppercase underline">PAYMENT</h5>
        <h5 class="font-bold">What are my payment options?</h5>
        <p class=" mb-10">Customers can pay for the items and other charges if any (i.e., delivery), thru any of the following modes of payment:</p>

        <h5 class="font-bold uppercase">ONLINE</h5>
        <p class=" mb-10 pl-5">a) Credit Card via PesoPay</p>

        <h5 class="font-bold uppercase">UPON DELIVERY</h5>
        <p class=" mb-16 pl-5">a) Cash On Delivery (COD)</p>

        <h5 class="font-bold">What is Asiapay?</h5>
        <p class=" mb-16">Asiapay Payment Technology Corp., is a leading electronic payment service, solution and technology house in Asia, which provides a comprehensive suite of the latest secure, scalable, function-rich real-time payment processing capabilities of credit card and debit cards online.</p>

        <h5 class="font-bold">Security</h5>
        <p class=" mb-16">Payments made online via credit card go through an additional layer of security using 3-D Secure technology. 3-D Secure is a global authenticated payment program and interoperable technology standard for secure payment, more commonly called Verified by Visa and MasterCard SecureCode, protecting merchants from chargeback losses and costs related to fraudulent or disputed online transactions. A transaction using 3-D Secure will initiate a redirect to the website of the Issuing bank to authorize the transaction. Beautybar does not have control over the authentication method used by the issuing banks. After authentication, you will be redirected back to the Beautybar.ph Checkout page to complete your order. For more information on authentication, please contact your issuing bank.</p>

        <h5 class="font-bold uppercase underline">DELIVERY</h5>
        <h5 class="font-bold">Where do you deliver?</h5>
        <ul class="mb-16">
          <li>Delivery is limited to addresses within Philippines.</li>
          <li class="pl-5">• The customer is responsible for providing the correct and complete delivery details: a. Name of recipient b. House no. or lot/block/phase no., street name, subdivision, barangay, town, province and zip code c. Unit no., floor building name, compound, street name, barangay, town, province and zip code</li>
          <li class="pl-5">• The use of abbreviations is highly discouraged.</li>
          <li class="pl-5">• Beautybar may not be held responsible for orders lost due to inaccurate/incomplete details provided by the customer.</li>
          <li class="pl-5">• If delivery was not completed due to erroneous details, the customer will be charged for re-delivery to correct address.</li>
          <li class="pl-5">• The customer is responsible for providing a correct contact number, preferably a mobile number. Order notifications and status updates will be sent to the number provided. The customer is responsible to ensure that this number is active so as to receive the notifications on time.</li>
        </ul>

        <h5 class="font-bold">How will my order be delivered?</h5>
        <p class=" mb-16">Orders will be delivered by our official couriers: QuadX Inc for select locations within Metro Manila and 2GO/LBC for provincial locations</p>

        <h5 class="font-bold">How much do I have to pay for delivery?</h5>
        <p class=" mb-16">Shipping fee is calculated based on the total weight of your order (or based on the total number of items in your shopping cart) and your delivery location.</p>

        <h5 class="font-bold">Where can I see the corresponding delivery charge?</h5>
        <p class=" mb-16">Handling and Shipping charges will be added to the total price of the items in the Shopping Bag after all Shipping and Billing information has been submitted in the Check Out process or you can use the Shipping Fee Calculator by entering your Delivery Postal Code in the SHIPPING tab in every Product Page.</p>

        <h5 class="font-bold">When will my order be delivered?</h5>
        <p class=" mb-16">Orders will be delivered within 3 to 5 business days for locations within Metro Manila and 5 to 10 business days for provincial locations. Deliveries are made from 9am to 6pm from Monday to Friday. Change in schedule or charges due to holidays will be posted accordingly.</p>

        <h5 class="font-bold">I cannot receive the package myself. Can I ask someone else to receive it for me?</h5>
        <p class=" mb-16">To protect the customer, packages will only be surrendered to the person whose name is indicated in the delivery receipt and must present a proof of identification. However, in cases where the recipient cannot be physically present, he/she must provide his/her assigned representative with an authorization letter together with a proof of identification.</p>

        <h5 class="font-bold">What should I do if I find an irregularity in the package?</h5>
        <p class=" mb-16">Please notify us through mail at custserv@lookatme.com.ph in case of discrepancy and/or any signs of package tampering.</p>

        <h5 class="font-bold uppercase underline">EXCHANGE POLICIES</h5>
        <h5 class="font-bold">What should I do if I receive damaged items?</h5>
        <p class=" mb-16">Beautybar takes utmost care to ensure that all products are properly wrapped, packed and sealed to prevent damages and/or breakages. In case of receipt of damaged items, please report thru custserv@lookatme.com.ph within 8 days from receipt of delivery. Exchange will not be processed without prior notification either through phone or email. Please note that the reported damaged items, will first be checked/evaluated, confirmed and approved by Beautybar before processing the exchange.</p>

        <h5 class="font-bold">If I change my mind thinking the item does not suit me, can I request for an exchange?</h5>
        <p class=" mb-16">Beautybar does not allow/accept any return/exchange of item due to customer’s change of mind. Only damaged items due to factory defect as approved by Beautybar are allowed for exchange.</p>

        <h5 class="font-bold">Can I exchange the items I purchased online in the stores of LOOK?</h5>
        <p class=" mb-10">Items purchased from the Online store can be exchanged through our Customer Service or in ANY LOOK Store across Metro Manila.</p>

        <ul class="mb-16">
          <li>What are needed to have the damaged item exchanged?</li>
            <li class="pl-5">• It is returned within 8 days from purchase date</li>
            <li class="pl-5">• Item/s should be unused, unaltered, undamaged, saleable and with original tags and packaging (if applicable)</li>
            <li class="pl-5">• The original receipt or the Order Number should be presented</li>
        </ul>

        <h5 class="font-bold">Will the item for exchange be replaced immediately?</h5>
        <ul class="mb-16">
          <li>Upon receipt of the item, Beautybar will evaluate and confirm if the item is acceptable for exchange. The following items shall not be accepted:</li>
            <li class="pl-5">• Damage caused by extensive use of the product and normal wear and tear</li>
            <li class="pl-5">• Damage caused by wrong use of cleaning products or washing instructions</li>
            <li class="pl-5">• Damage caused by customer’s improper handling</li>
            <li class="pl-5">• Merchandise already altered</li>
            <li class="pl-5">• Sale and Promo Items</li>
            <li class="pl-5">• Accessories, Counterfeit products, Items purchased abroad</li>
            <li class="pl-5">• Personal care items like socks, tights, hosiery and used items (for hygiene reasons)</li>
        </ul>

        <p class=" mb-16">Once item is approved for exchange, LOOK will give the customer a unique Exchange number or a New Order Number to be used as reference for the approved exchange transaction.</p>

        <h5 class="font-bold">Is it possible to get a different item to replace my original purchase?</h5>
        <p class=" mb-16">Beautybar will replace the item with exactly the same item. If the item is no longer available, Beautybar will coordinate with the customer for a suitable replacement.</p>

        <h5 class="font-bold">Is there a fee for delivery of the replaced item?</h5>
        <p class=" mb-16">LOOK will shoulder the courier/shipping expense for one time exchange of Regular Priced Items Only. For the succeeding exchange and exchange of Sale Items, Beautybar shall charge the Shipping Fee to the customer. For damaged items (due to factory defect), delivery of the replacement item to the customer shall be free of charge.</p>

        <h5 class="font-bold uppercase underline">CLICK & COLLECT</h5>

        <p class=" mb-10">This facility is available only in Select LOOK Stores within Metro Manila.</p>

        <p class=" mb-10">If the item selected for Click and Collect is available in the selected location, you may choose this upon Check Out.</p>

        <p class=" mb-10">An email confirmation with your confirmed schedule will be sent. You have 48 hours to visit the store and complete your purchase. After the window, your order will automatically be cancelled. You may create a New Order or you may proceed to the store to shop. Once the window has lapsed, Beautybar will not hold your order and the items selected will be returned to the Merchandise floor.</p>

        <p class=" mb-10">Online exclusive promotions are for ONLINE TRANSACTIONS ONLY and are not VALID for Click and Collect. In the event the prices online vary from the store, the price in the Store will prevail.</p>
    </div>  {% endcomment %}
  </div>
</main>