<main class="look-terms-conditions">
  <div class="container mx-auto mt-10 px-8 mb-24">
    <h2 class="md:text-32px text-lg font-bold uppercase text-center mb-8 ">{{ page_title }}</h2>

    {{ page.content }}

    {% comment %} <div class="body-section text-16px">
      <div class="mb-10">
        The Terms and Conditions stated herein, as defined by Watsons Personal Care Stores (Phils) Inc. (herein referred to as “Watsons” ), forms the basis and guidelines of the issuance of the Watsons Card (herein referred to as “Watsons Card” or “Membership Card”), defines the rights and obligations of the Member (herein referred to as the “Member”) in the Watsons membership and loyalty program (herein referred to as “Watsons Program”), and provides for the collection and processing of personal data by Watsons and its subsidiaries and affiliates of Watsons and other service providers that may be engaged by it (herein collectively referred to as “Service Group”), among others. Members are subject to these guidelines, including those referred to in the Watsons Card Membership Application Form, and are deemed to have accepted and agreed to any and all of the Terms, Conditions, Guidelines and Rules thereof upon signing the Membership Application or application form, or, in the case of online or electronic processes, upon clicking the sign-up icon or button.
      </div>

      <ul class="mb-10">
        <li>I.  Watsons Card Membership</li> 
        <li class="pl-4"><div class="mr-4 inline-block">1.</div> Customer must be at least 18 years old to apply for Watsons Program’s membership (hereafter referred to as “Membership”).</li>
        <li class="pl-4"><div class="mr-4 inline-block">2.</div> To become a member, a customer must duly accomplish a Membership Application Form through the manner determined by Watsons.</li>
        <li class="pl-4"><div class="mr-4 inline-block">3.</div> Members enjoy the following benefits:</li>
        <li class="pl-8"><div class="mr-4 inline-block">a.</div> earning reward points (herein referred to as “Points” or “Watsons Card Points”) when making purchase at Watsons which can be applied for redemption as cash discount when making purchase in future (details of which are set out under Part III below).</li>
        <li class="pl-8"><div class="mr-4 inline-block">b.</div> Exclusive Member events and discount benefits.</li>
      </ul>

      <ul class="mb-16">
        <li>To enjoy full benefits, member registration must be accomplished via physical or electronic Membership Registration Form.</li>
        <li class="pl-4"><div class="mr-4 inline-block">4.</div> You agree to pay us the prevailing fee when applying for the Membership.</li>
        <li class="pl-4"><div class="mr-4 inline-block">5.</div> [In the event that the Member’s Watsons Card is not used or the Membership account has no activity for a period of three (3) years, Watsons will, for the Member and its own protection, deem such account to be no longer in use. Watsons will deactivate such account and all the accumulated Points will be forfeited. The Member’s personal information in Watsons’ record will also be deleted.] </li>
        <li class="pl-4"><div class="mr-4 inline-block">6.</div> Service providers from the Service Group and 3rd party merchants of the Watsons Card Membership are responsible for the quality and content of the respective goods and/or services they provide under their respective terms and conditions, for which Watsons bears no liability.</li>
        <li class="pl-4"><div class="mr-4 inline-block">7.</div> Watsons reserves the right, at its sole discretion and without prior notice, to cancel the Membership Card of any individual and all rewards and benefits under the Watsons Program (hereinafter referred to as “Rewards and Benefits”) that go with the Membership (including the Points).</li>
        <li class="pl-4"><div class="mr-4 inline-block">8.</div> All Rewards and Benefits are non-transferable.  Membership will terminate automatically and all such Rewards and Benefits become void upon the death of the Member.</li>
      </ul>

      <ul class="mb-16">
        <li>II. Use of Watsons Card</li>
          <li class="pl-4"><div class="mr-4 inline-block">1.</div> Watsons Card is and shall remain the property of Watsons and must be returned on demand.</li>
          <li class="pl-4"><div class="mr-4 inline-block">2.</div> Watsons Card is not transferable in any circumstance, and is valid for use only by the Member who must present it when conducting any transaction. The Member may not use his/her Watsons Card to earn Points from transactions of other customers.</li>
          <li class="pl-4"><div class="mr-4 inline-block">3.</div> The Membership Card may not be used, and Points will not be issued, at the time of purchase and/or activity that is identified by Watsons as not eligible for earning the Points.</li>
          <li class="pl-4"><div class="mr-4 inline-block">4.</div> In case of lost or damaged Membership Card, the Member agrees to immediately report the said incident in writing or by calling the Watsons Member Hotline: 791-5000.</li>
          <li class="pl-4"><div class="mr-4 inline-block">5.</div> Member understands that Watsons needs reasonable time to process such request to replace Member’s lost or damaged Membership Card. Watsons will not be held liable for any executed instruction and (or) loss incurred prior to confirmation of Member’s request. A Watsons Card maybe replaced by making a request to Watsons, purchasing a new card and registering it under the member’s previous account.</li>
      </ul>
      
      <ul class="mb-16">
        <li>III. Earning and Redemption of Watsons Card Points</li>
        <li class="pl-4"><div class="mr-4 inline-block">1.</div> Points award and accumulation: every time a Member makes purchase at Watsons, for every Php. 200 worth of purchase, Watsons Members can earn 1 Point.</li>
        <li class="pl-4"><div class="mr-4 inline-block">2.</div> Point redemption: Points can be redeemed for use in purchases at Watsons. The conversion rate is: 1 Point = Php1. Minimum redemption per transaction is 20 Points.</li>
        <li class="pl-4"><div class="mr-4 inline-block">3.</div> Points will be granted through various forms. Watsons reserves the right at all times to make any changes to any such rules / offerings in its sole discretion.</li>
        <li class="pl-4"><div class="mr-4 inline-block">4.</div> Points validity period: Points earned will expire at the end of every second year on 31st December. (For example, points earned in October 2019 are valid until 31st December 2020; points earned in Feb 2019 are valid until 31st December 2020).</li>
        <li class="pl-4"><div class="mr-4 inline-block">5.</div> Watsons reserves the right to make adjustments on earned or accrued Points as it sees fit including, but not limited to, deduction of Points arising from returned goods or services purchased from Watsons or from disputes.</li>
        <li class="pl-4"><div class="mr-4 inline-block">6.</div> Members whose Membership accounts are active may redeem their Watsons Card Points in exchange for goods or service at authorized Watsons redemption stores according to Watsons relevant provisions. Members understand and agree that these Points cannot be exchanged for cash.</li>
        <li class="pl-4"><div class="mr-4 inline-block">7.</div> Watsons shall not be liable for fraud, misuse, or other misconduct involving the acquisition and (or) use of points which may result in the immediate cancellation, restriction or termination of the Membership Card, Points and other privileges.</li>
        <li class="pl-4"><div class="mr-4 inline-block">8.</div> It is the responsibility of the Member to keep transaction receipts, which may be required in case of request for points verification by the Member. Member understands and agrees that without such receipts, Watsons will not be able to verify the Member’s points or accommodate the requests of Member. </li>
        <li class="pl-4"><div class="mr-4 inline-block">9.</div> Employees of Watsons and its Service Group are subject to their respective employer’s policies on the earning of the Points from purchases from their respective employers.</li>
        <li class="pl-4"><div class="mr-4 inline-block">10.</div> For the redemption of the Points, those Points reflected in Watsons’ records shall be deemed correct and Watsons shall have the exclusive right to determine the available amount of the Points to be awarded to or redeemed by the Member.</li>
        <li class="pl-4"><div class="mr-4 inline-block">11.</div> Redeemed Rewards and Benefits are not exchangeable for other rewards or benefits, or refundable, replaceable, or be sold or transferred for cash or credit, under any circumstances.</li>
        <li class="pl-4"><div class="mr-4 inline-block">12.</div> By redeeming the Points for  products, or rewards, the Member releases Watsons and its Service Group, as well as the directors and officers of Watsons  and such entities, from any and all liability to the Member regarding the use, process and redemption of the points and on the issuance and usage of said Rewards and Benefits. Points redeemed may no longer be changed, revoked, or cancelled.</li>
        <li class="pl-4"><div class="mr-4 inline-block">13.</div> Watsons shall bear no responsibility for resolving any disputes concerning any goods or services received by the ember.</li>
        <li class="pl-4"><div class="mr-4 inline-block">14.</div> Watsons’ return and exchange policy will apply on redeemed products.  If a Member is entitled to a return or exchange (whether in partial or full settlement for the purchase) or via cash discount converted by applying the Points, or, if such return of the redeemed product or exchange is accepted by Watsons, relevant adjustments will be made to the Points in the Member’s account (giving credit to the redeemed Points and deducting the Points earned for that purchase) when the return or exchange of product is made.</li>
        <li class="pl-4"><div class="mr-4 inline-block">15.</div> Information acquired during issuance and redemption of Points may be used by Watsons and its Service Group for administrative and for the purpose of conducting marketing and customer analytics.</li>
      </ul>

      <ul class="mb-16">
        <li>IV. Changes to Watsons Program</li>
        <li class="pl-4"><div class="mr-4 inline-block">1.</div> The Terms and Conditions cannot be superseded or changed except by Watsons. Watsons shall use reasonable endeavors to provide Members with accurate and timely information regarding the Watsons  Program including any changes thereof; however, Watsons and its Service Group shall not be liable in any way for failure to do so.</li>
        <li class="pl-4"><div class="mr-4 inline-block">2.</div> Watsons is not liable for any Rewards and Benefits not being available or being withdrawn for any reason whatsoever by any of its Service Group.</li>
        <li class="pl-4"><div class="mr-4 inline-block">3.</div> Watsons  reserves the right at all times, without notice and its sole discretion:</li>
        <li class="pl-8"><div class="mr-4 inline-block">a.</div> To make any changes whatsoever to these Terms and Conditions including the rules and guidelines in the Member’s Application Form;</li>
        <li class="pl-8"><div class="mr-4 inline-block">b.</div> To withdraw, cancel, withhold, substitute, deny access to or use of, or in any way change any of the Rewards and Benefits  previously advertised or offered, to any Member, at any time, without prior notice, and Watsons shall not be liable for any loss or damage suffered by the Member resulting from such withdrawal, cancellation, variation or change.</li>
        <li class="pl-8"><div class="mr-4 inline-block">c.</div> To terminate or materially alter Watsons Program and/or revoke the Membership of any Member and/or the right of any Member to use Watsons Card or to utilize any Rewards and Benefits.</li>
      </ul>

      <ul class="mb-16">
        <li>V. Breach of Terms and Conditions</li>
        <li class="pl-4"><div class="mr-4 inline-block">1.</div> It is a breach of these Terms and Conditions for any Member in the reasonable opinion of Watsons  to: abuse any rewards, benefits, facilities, services, or arrangements accorded to the Member as a result of Membership in Watsons Program; or act in any fraudulent manner or in any way which is likely to be detrimental to the interest of Watsons, supply or attempt to supply misleading information, or make any misrepresentation to Watsons; or act in any way which in Watsons’  reasonable opinion breaches or is likely to breach these Terms and Condition. Watsons’ decision as to what constitutes a breach shall be final and conclusive.</li>
        <li class="pl-4"><div class="mr-4 inline-block">2.</div> Any breach of these Terms and Conditions whether intentional or otherwise may result in termination of Membership, forfeiture of issued Points, and cancellation of Rewards and Benefits at the sole discretion of Watsons. Eligibility for future or further participation in the Watsons Program shall likewise be affected.</li>
        <li class="pl-4"><div class="mr-4 inline-block">3.</div> In the event of termination, all Watsons Card Points, Rewards and Benefits that may have been earned or accrued by the Member will also be terminated, and these may not be sold, assigned or transferred or otherwise redeemed. Watsons and its Service Group shall in no way be liable for any Watsons Card Points, Rewards and Benefits of a terminated Member.</li>
      </ul>
      
      <ul class="mb-16">
        <li>VI. General</li>
        <li class="pl-4"><div class="mr-4 inline-block">1.</div> These Terms and Conditions shall be governed by the laws of the Republic of the Philippines.</li>
        <li class="pl-4"><div class="mr-4 inline-block">2.</div> All questions or disputes regarding eligibility for Membership in Watsons Card or eligibility for accrual or redemption of Rewards and Benefits will be resolved by Watsons at its sole discretion.</li>
        <li class="pl-4"><div class="mr-4 inline-block">3.</div> Failure of Watsons to enforce a particular Term or Condition or Guideline does not constitute a waiver of that Term or Condition or Guideline.</li>
        <li class="pl-4"><div class="mr-4 inline-block">4.</div> Watsons is not the supplier of the products and services shown as Rewards and Benefits offered by 3rd party and will not accept liability in relation thereto.</li>
        <li class="pl-4"><div class="mr-4 inline-block">5.</div> The Member is solely responsible for the use of any Rewards and Benefits; whether the Rewards and Benefits are used by the Member or by a third Party.</li>
        <li class="pl-4"><div class="mr-4 inline-block">6.</div> The Member is personally liable for any and all costs, charges, claims or liabilities including duties, taxes and fees from third parties, government and non-government entities of whatever nature arising from the use of any Rewards and Benefits, as provided by Watsons  and the earning, redemption or use of any Rewards and Benefits.</li>
        <li class="pl-4"><div class="mr-4 inline-block">7.</div> The Member hereby understands and agrees that the successful operation of Watsons Program is based on the cooperative interaction between Watsons and its Service Group.</li>
        <li class="pl-4"><div class="mr-4 inline-block">8.</div> Watsons, in its sole direction, may appoint any service providers from its Service Group to process data and undertake some part or all parts of the Watsons Program on its behalf. In this situation, the reference to Watsons Card in the Terms and Conditions shall automatically include such Service Group. </li>
      </ul>

      <ul class="mb-16">
        <li>VII. Data Privacy and Consent</li>
        <li class="pl-4"><div class="mr-4 inline-block">1.</div> In compliance with Republic Act No. 10173 (Data Privacy Act of 2012), its implementing rules and regulations and the issuances of the National Privacy Commission, the parties agree to be bound by the provisions of Article VII herein.</li>
        <li class="pl-4"><div class="mr-4 inline-block">2.</div> The Member understands and agrees that by signing the application form  or, in the case of online or electronic processes, by clicking the applicable icon or button , the Member is agreeing to the Privacy Policy of Watsons (http://www.watsons.com.ph/privacy-policy) and giving consent to Watsons and its Service Group , if any, to collect, store, access, share, process, and/or destroy copies of Member’s personal data, such as but not limited to his/her name, identity card, age, contact details, and other personal data, including any updates or corrections thereto, whether manually or electronically, for the period allowed under the applicable law and regulations, for the purposes of Watsons Program’s account management, direct marketing, analytics, service or administrative announcements related to system enhancements, program updates, discounts, promotions, sales, advertisements, events, marketing activities and commercial communications, and offers that Watsons deems beneficial to the Member, as well as to the publication of Member’s name in relation to promotional efforts and any automated decision-making that may or may not significantly affect the Member (collectively referred to herein as “Purposes”).</li>
        <li class="pl-4"><div class="mr-4 inline-block">3.</div> Each Member is obligated to keep his/her information or personal data file up-to-date and correct by reporting any change or correction in name, contact details and other data. Members shall do so through its touch points, including but not limited to www.watsons.com.ph, or through the Watsons Card hotline: 791-5000. Member understands and agrees that Watsons  shall not be liable for any loss, damage, injury or claim arising from his/her failure to keep updated or to correct his/her information or personal data file.</li>
        <li class="pl-4"><div class="mr-4 inline-block">4.</div> Watsons reserves the right to store personal data of its Members where Watsons consider it necessary or appropriate for the period allowed under the applicable laws and regulations.</li>
        <li class="pl-4"><div class="mr-4 inline-block">5.</div> Member agrees to receive verbal, written, or electronic communications from Watsons or its Service Group.</li>
        <li class="pl-4"><div class="mr-4 inline-block">6.</div> The Member is aware of and understands his/her rights under the Data Privacy Act 2012, including the right to request access and correction to the personal data related to him/her. The Member likewise understands and agrees that while he has the right to object, the law and regulations allow Watsons to continue to collect and process your personal data when such collection and processing is for obvious purposes, including, but not limited to, when it is necessary for the performance of or in relation to a contract or service to which you are a party, such as your Membership, or when as a result of a legal obligation. If you have any questions regarding your right to object or withdraw your consent to any of the abovementioned purposes, you may send your request to the Data Protection Officer through the contact details provided herein.</li>
        <li class="pl-4"><div class="mr-4 inline-block">7.</div> For inquiries regarding data privacy, Member may contact the Watsons through its Data Protection Officer, as follows:</li>
      </ul>

      <ul class="mb-16">
        <li>To: The Data Protection Officer</li>
        <li>Company: Watsons Personal Care Stores (Phils) Inc.</li>
        <li>Address: 9/F One E-Com Building, Ocean Drive, MOA Complex, Pasay City 1300</li>
        <li>Email:  data-privacy@smwatsons.com</li>
        <li>Contact Number: (02) 902-8888</li>
      </ul>

      <ul class="mb-16">
        <li>VIII. Inquiries</li>
        <li>For further information and inquiries, the Member may contact Watsons through its touch points, including but not limited to www.watsons.com.ph , or through the Watsons Member hotline: 79</li>
      </ul>
    
    </div>  {% endcomment %}
  </div>
</main>