<main class="look-privacy-policy">
    <div class="container mx-auto mt-10 px-8 mb-24">
      <h2 class="md:text-32px text-lg font-bold uppercase text-center mb-8">Privacy Policy</h2>
  
      {{ page.content }}

      {% comment %} <div class="body-section text-16px">
          <h5 class="font-bold">
              Our Pledge 
          </h5>
          <p class=" mb-16">
            We, FAMILYHEALTH & BEAUTY CORP.,(“Watsons”, “we”, “us” or “our”), are committed to safeguarding your privacy and ensuring your personal data is protected. We therefore make sure that our policies and practices in relation to personal data comply with the requirements of the Data Privacy Act of 2012 (the “Act”).
          </p>
        
          <h5 class="font-bold">
              Privacy Policy
          </h5>
          <p class=" mb-10">
            This Privacy Policy applies to www.watsons.com.ph (“the Site”) and to personal data collected therein and to those that you provide in-store or via one of our mobile applications. By using the Site, you are agreeing to the terms of this Privacy Policy. If you do not agree with any term of this policy, please do not use the Site.
          </p>
  
          <p class=" mb-16">
            Please note that this Privacy Policy may be amended from time to time by posting the updated version here on the Site. You are advised to check it on a regular basis.
          </p>
  
          
          <h5 class="font-bold">
              Collection of Personally Identifiable Information 
          </h5>
          <p class=" mb-16">
            When you visit the Site, we will record your visit only and will not collect any personally identifiable information (i.e. information that is about you and identifies you) from you, unless otherwise stated. We use cookies and similar technologies to collect data about your use of the Site. For your information, cookies are small computer files that can be stored on your computer for the purposes of obtaining configuration information and analysing your browsing habits. They can save you from registering again when re-visiting a web site and are commonly used to track your preferences in relation to the subject matter of the web site. You may refuse to accept Cookies (by modifying the relevant Internet options or browsing preferences of your computer system), but if you do so you may not be able to utilize or activate certain available functions on our Site.
          </p>
  
  
          <h5 class="font-bold">
              Types of Personally Identifiable Information Collected 
          </h5>
          <p class=" mb-10">
            At times, you may be asked to provide your personally identifiable information (“Personal Data”) including, but not limited to: Name, gender, age, date of birth, telephone number, mobile number, fax number, home address, email address, credit card information, bank account number, education level, occupation, household income, interests, and favourite activities etc. in order to enjoy the services we offer. Specific purposes for which your Personal Data may be used are set out in our Personal Data Collection Statement set out below, including the use of Personal Data for direct marketing.
          </p>
  
          <p class=" mb-10">
            The Personal Data that we collect are those you have voluntarily submitted to us. If you provide Personal Data of any third party to us, we assume that you have obtained the required consent from the relevant third party to share and transfer his/her Personal Data and to allow us, our agents and third party service providers to process said information in accordance with this Privacy Policy. If you choose to withdraw the consent for the collection, use and processing of your Personal Data, we may not be able to provide you with our services.
          </p>
  
          <p class=" mb-16">
            If you create or link your Watsons account with any of your social media account, we may access the Personal Data you provided to the social media provider and process said information in accordance with this Privacy Policy.
          </p>
  
          <h5 class="font-bold">
              Security and Protection Your Personal Data
          </h5>
          <p class=" mb-16">
            All personal data you provide to us is secured on our website with restricted access by authorized personnel only. We maintain appropriate administrative, technical and physical safeguards to protect the Personal Data you provide to us against accidental, unlawful or unauthorised destruction, loss, alteration, access, disclosure or use and other unlawful forms of processing.
          </p>
  
  
          <h5 class="font-bold">
              Accessing Links From/to Other Sites
          </h5>
          <p class=" mb-10">
            If you have accessed our Site through a link from our advertising or marketing partners, the Personal Data you provide to us through these framed web pages is collected by us, and our use of this information is governed by this Privacy Policy.
          </p>
  
          <p class=" mb-10">
            Our online services offer you the ability to interact with, and may allow you to share information, product reviews and other user generated content with social media platforms such as Facebook, Twitter, Google+, Pinterest, and YouTube, and social commerce networks, such as PowerReviews and Bazaarvoice. Please be advised that your sharing of information, product reviews or other user generated content, and any information gathered by these social media platforms and social commerce networks in connection with your sharing is not covered by this Privacy Policy, but will be governed by the privacy policy and terms of use of the applicable platform or network.
          </p>
  
          <p class=" mb-16">
            The Site may contain hyperlinks to other websites provided by third parties. We do not control these third-party websites or any of the content contained on those websites. Once you have left our website, we cannot be responsible for the protection and privacy of any information which you provide. You should exercise caution and look at the privacy statement for the website you visit.
          </p>
  
  
          <h5 class="font-bold mb-10">
              Personal Data Collection Statement
          </h5>
  
          <h5 class="font-bold">
              With Whom We Share /Transfer Your Personal Data
          </h5>
          <p class=" mb-10">
            As a Watsons customer, it may be necessary for you to provide us with your Personal Data when you apply to us and / or continue to subscribe with us for a service and / or product ("Services"). If your Personal Data is incomplete or incorrect, we may not be able to provide or continue to provide the Services to you.
          </p>
  
          <p class=" mb-10">
            We do not sell or otherwise disclose or transfer Personal Data we collect about you, except as described in this Privacy Policy. We may share, transfer or disclose your Personal Data with:
          </p>
  
            <ul class="mb-10">
              <li>Our subsidiaries and affiliates;</li>
              <li>Third party service providers who perform services based on our instructions. These service providers are authorized to use or disclose your Personal Data only as may be necessary to perform services on our behalf or to comply with legal requirements. Examples of these service providers include entities that provide web hosting, advertising and marketing service, those that process credit card payments, those that operate our online services, manage our customer accounts and those that provide fraud protection and credit risk reduction and those engaged in courier and delivery services;</li>
              <li>Other third parties with your consent; and</li>
              <li>Other third parties as allowed and limited by the Act, its implementing rules and regulations, other data privacy laws, and such issuances from the National Privacy Commission</li>
            </ul>
  
          <p class=" mb-10">
            We may also disclose information that is necessary to comply with any applicable law, regulation, legal process or governmental request. In addition, we may disclose any information when it is necessary to prevent physical harm or financial loss or in connection with suspected or actual illegal activity.
          </p>
  
          <p class=" mb-16">
            We may disclose and transfer (whether in the Philippines or Hong Kong or other countries in which we/our subsidiaries and affiliates operate) to our agents  or contractors under a duty of confidentiality to us who provide administrative, data processing, research and marketing, distribution, telecommunications, professional or other similar services to us, and to any of our actual or proposed assignees or transferees of our rights with respect to you in connection with a merger, sale or transfer (whether of assets or shares), to use, hold, process or retain such Personal Data for the purposes mentioned in this Personal Data Collection Statement on our behalf. We will use reasonable efforts to direct the actual or proposed assignees or transferees to use and process your Personal Data in a manner that is consistent with this Privacy Policy.
          </p>
          
  
          <h5 class="font-bold">
              How We Use Your Personal Information
          </h5>
          <p class=" mb-10">
            You agree that all the Personal Data provided by you to us may be used and retained by us for the following purposes and for other purposes as may be agreed between you and us or required by law from time to time:
          </p>
  
          <ul class="mb-10">
            <li>Providing the Services;</li>
            <li>Analyzing, verifying and / or checking your credit, payment and / or status in relation to the provision of the Services;</li>
            <li>Processing any payment instructions, direct debit facilities and / or credit facilities requested by you;</li>
            <li>Creating and enabling the daily operation of your account and / or the collection of amounts outstanding in your account in relation to the Services;</li>
            <li>Carrying out data sorting and analysis to enable us to better understand your characteristics and buying behaviour and to provide other services better tailored to your needs, and to assist us in selecting good and services that are likely to be of interest to you;</li>
            <li>Providing you with regular communications from us with details of the Services and its benefits;</li>
            <li>The normal management, operation and maintenance of the performance of the Services;</li>
            <li>Research for service improvement and designing new, or improving existing, Services provided by us, our subsidiaries or our affiliates to you;</li>
            <li>Aggregated behavioural analysis</li>
            <li>Respond to your queries</li>
            <li>Investigation of complaints and suspected suspicious transactions;</li>
            <li>Prevention or detection of crime;</li>
            <li>Disclosure as required by law.</li>
            <li>We would also like to use your Personal Data  for direct marketing to you (whether by post, email, phone, SMS or the like) in relation to:</li>
          </ul>
  
          <ul class="mb-16">
            <li>Offers and promotions from us;</li>
            <li>Offers and promotions offered by our subsidiaries and our affiliates;</li>
            <li>Offers and promotions from other companies within CK Hutchison Holdings Limited or the SM Group;</li>
            <li>Other offers and promotions from the third party merchants that we cooperate with to provide benefits to our customers</li>
          </ul>
          
  
          <h5 class="font-bold">
              Access to and Correction of Information
          </h5>
          <ul class="mb-10">
            <li>You have the right to:</li>
            <li>• Check whether we hold any of your Personal Data;</li>
            <li>• Access your Personal Data held by us;</li>
            <li>• Ask us to correct or update any Personal Data which is inaccurate;</li>
            <li>• Ascertain our policies and practices (from time to time) in relation to Personal Data.</li>
            <li>• Opt out from receiving direct marketing materials from us at any time.</li>
          </ul>
          
          <p class=" mb-10">
            Nothing in this Privacy Policy shall limit your rights under the Act.
          </p>
  
          <p class=" mb-16">
            Any requests in relation to the above shall be in writing (sent by post or email) to the address below. Should you have any enquiries concerning our Privacy Policy, please feel free to contact our:
          </p>
  
          
  
          <h5 class="font-bold">
              Data Protection Officer
          </h5>
          <h5 class="font-bold">
              Family Health and Beauty, Corp.
          </h5>
          <ul class="mb-10">
            <li>9/F West Quadrant, One E-Com Center, Ocean Drive,</li>
            <li>Mall of Asia Complex, Pasay City, 1300, Philippines</li>
            <li>E-mail: data-privacy@smwatsons.com</li>
            <li>Telephone: +63 (2) 902 8888</li>
          </ul>
  
          <p class=" mb-16">
            If you want to access and/or correct your personally identifiable information which you have given us via Internet, you may change this through the website by logging-in to your personal profile.     
          </p>
      </div>  {% endcomment %}
    </div>
  </main>