<main class="look-returns">
  <div class="container mx-auto mt-10 px-8 mb-24">
    <h2 class="md:text-32px text-lg font-bold uppercase text-center mb-8">Returns and Refunds</h2>

    {{ page.content }}
    {% comment %} <div class="body-section text-16px">
      <div class="mb-10">1. This Return and Refund policy is only applicable for Watsons Philippines Online Store Home Delivery and Click & Collect orders.*</div>

      <div class="mb-10">2. For any discrepancy of products delivered or for any other valid reason as defined in this policy, you may request for return and refund via our online request form or Live Chat/Messaging on the website.</div>

      <div class="mb-10">3. Requests will only be entertained within seven (7) days of receipt of the product.</div>

      <ul class="mb-10">
        <li>4. Request may be made for the following reasons:</li>
        <li class="pl-5">a. If the products delivered is in damaged or defective condition; or </li>
        <li class="pl-5">b. If the product is near expiry or expired; or </li>
        <li class="pl-5">c. If the product delivered is incorrect or different from the order placed, or different from how it is described on the website.</li>
      </ul>

      <div class="mb-10">5. Hygiene-sensitive products sold are non-refundable.</div>

      <div class="mb-10">6. Watsons Customer Service representative may request the submission of electronic files, including photos, receipt, etc. to support the review process.</div>

      <div class="mb-10">7. Return requests will be processed within 2 to 3 working days (Monday-Friday) after the complete set of supporting documents is received by Watsons.</div>

      <ul class="mb-10">
        <li>8. Upon the approval, the Customer will be notified of the scheduled of the product pick-up.  </li>
        <li class="pl-5">Product pick-up schedule will depend on the location of the Customer.</li>
        <li class="pl-5">Item(s) must be returned in its original and complete condition, unused, as of the time received from Watsons.  Items purchased as a set must also be returned as a set.  Customer must likewise enclose together with the product all gift items (if any), and proof of its purchase.</li>
      </ul>

      <div class="mb-10">9. Returned items will then go through quality evaluation for next 48 hours upon receipt of the items. Certain products may require a longer quality evaluation period.</div>

      <div class="mb-10">10.  A notification will be sent to the Customer once the return and refund request has been approved.</div>

      <ul class="mb-10">
        <li>11. The manner of refund will depend on the mode of payment originally made by the Customer:</li>
        <li class="pl-5">a. For credit card payments, refund will be done via payment reversal and may take 1 to 2 billing cycles, depending on your bank’s processing time. In case of delay, you may contact your card- issuing bank to get the details of the reversal.</li>
        <li class="pl-5">b. For cash-on-delivery (COD) payments, the amount will be refunded and credited to the Customer’s Watsons online account via e-voucher. The e-voucher may be used as payment in next online purchase. Credited e-vouchers will appear in your account within 24 hours after the approval of the refund request. The e-voucher may be used at any time and has no expiry. </li>
        <li class="pl-5">c. No cash refund is made through Watson store cashiers.</li>
      </ul>

      <div class="mb-10">12. The amount to be refunded will be computed based on the unit price paid in the original purchase.</div>

      <div class="mb-10">13. If any e-Voucher or e-Coupon was redeemed for the relevant purchase, corresponding adjustments will be made.</div>

      <div class="mb-10">14. Retail value of any unreturned gift item(s) will be deducted from the refund. All requests for refund will be reviewed on case-by-case basis and subject to the Company’s approval.</div>

      <ul class="mb-10">
        <li>15. Refund of shipping fees may be approved for the following cases:</li>
        <li class="pl-5">a. If the approved item for return and refund was charged the “bulky” shipping fee </li>
        <li class="pl-5">b. If the approved item(s) for return and refund constitute the entire value of the original order</li>
      </ul>

      <div class="mb-10">16. The Company reserves the right to reject any exchange or refund for opened or used product in accordance with DTI rules and regulations. We shall not be liable to you for any losses, liabilities, costs, damages, charges or expenses as a result.</div>

      <div class="mb-16">* Exchange, return or refund requests for items ordered online (including for Click & Collect purchases) will not be accepted at Watsons brick-and-mortar stores. All such requests are managed by our dedicated Watsons E-Store Customer Service team for proper tracking in connection to your online account.</div>
    </div>  {% endcomment %}
  </div>
</main>
