<main class="look-shipping">
  <div class="container mx-auto mt-10 px-8 mb-24">
    <h2 class="md:text-32px text-lg font-bold uppercase text-center mb-8 ">Shipping And Delivery</h2>

    {{ page.content }}

    {% comment %} <div class="body-section text-16px">
      <div class="mb-10">When placing your order, you may choose between having it delivered to your specified address or picking it up from one of Watsons’ physical stores of your choice (via the Click & Collect services).</div>

      <div class="mb-10">Successfully placed orders are verified and prepared within 24 to 48 hours, after which your order will delivered to your designated address or your selected Click & Collect store.</div>

      <ul class="mb-10">
        <li>I. Home Delivery</li>
        <li>1. Due to the strict implementation of the Enhanced Community Quarantine, we can only deliver orders within Metro Manila, Cavite, Laguna, Rizal and Batangas until further notice.</li>
      </ul>

      <ul class="mb-10">
        <li>2. We charge the following fixed shipping rates</li>
        <li><div class="mr-6 inline-block">·</div> METRO MANILA – Php 65</li>
        <li><div class="mr-6 inline-block">·</div> OUTSIDE METRO MANILA – Php 149</li>
      </ul>

      <div class="mb-10">3. We charge a special fee of Php 499 for bulky items (8 kilograms or above in actual or dimensional weight), regardless of order amount. If a product is considered a bulky item, this will be indicated in the product details page.</div>

      <div class="mb-10">4. Delivery fees are included in your basket summary. You may check them before you confirm and place any order.</div>

      <div class="mb-10">5. We deliver nationwide, with the exception of some areas outside of our logistics partners’ delivery zones</div>

      <div class="mb-10">6. You will receive an email notification once your order has been shipped. Our logistics partner will also get in touch with you via SMS when your package is about to be delivered.   </div>

      <ul class="mb-10">
        <li>7. You may expect your orders within:</li>
        <li><div class="mr-6 inline-block">·</div> 2-7 working days * for the National Capital Region (“NCR”)</li>
        <li><div class="mr-6 inline-block">·</div> 3-9 working days* for areas outside NCR</li>
        <li>*“working day” means a day (other than a Saturday or a Sunday or any public/national holiday) on which banks generally are open in the Philippines for normal banking business. </li>
      </ul>

      <div class="mb-10">8. In case you will not be able to personally receive your order, please make sure to prepare an authorization letter and proof of your and your authorized person’s identity (e.g. any government-issued ID). Please check whether all of your ordered items are delivered against the delivery note, and then sign on the delivery note to acknowledge receipt and acceptance before returning it to our logistics partner. </div>

      <div class="mb-10">9. You can log in to your account to check your order status any time.  </div>

      <div class="mb-16">10. If your order has not arrived even after our standard delivery time, please inform us using this inquiry form or you may also reach us at 7-919-999 or via Live Chat</div>
      

      <ul class="mb-10">
        <li>II. Collection at Stores - Click & Collect services</li>
        <li>1. With Click & Collect, you can purchase online and collect your orders from your selected Click & Collect store at your convenience.</li>
      </ul>

      <div class="mb-10">2. Click & Collect is currently FREE of charge, with no minimum purchase requirement, and available only with the credit card payment option. </div>

      <div class="mb-10">3. You can select from the most updated list of our stores with Click & Collect when you choose this delivery option upon checkout. </div>

      <ul class="mb-10">
        <li>4. You will receive an email notification once your order is ready for collection at your selected store. You may expect your orders to be ready within the specified days below, depending on the location of the store that you have selected:</li>
        <li><div class="mr-6 inline-block">·</div> 2-5 working days* for National Capital Region (NCR)</li>
        <li><div class="mr-6 inline-block">·</div> 3-7 working days* for rest of Luzon and Visayas  </li>
        <li><div class="mr-6 inline-block">·</div> 4-8 working days* for Mindanao  </li>
        <li>*“working day” means a day (other than a Saturday or a Sunday or any public/national holiday) on which banks generally are open in the Philippines for normal banking business </li>
      </ul>

      <div class="mb-10">5. Please present a printed copy of the order collection email, as well as your proof of identity (any government- or company-issued ID), to our store staff. </div>

      <div class="mb-10">6. In case you will not be able to personally collect your order, please make sure to fill out the authorization form included in the order collection notification email. Your authorized representative will need to present this along with proof of your and your authorized person’s identity (any government- or company-issued ID). </div>

      <div class="mb-16">7. We encourage you to collect your order within three (3) days of receiving the email notification that your order is ready for collection. You will receive a second email reminder from us for any uncollected orders. Note that, as per our policy, we will cancel any order that is uncollected for five (5) days. Credit card payments for such orders will be refunded via credit card payment reversal, following our standard processing period.  </div>
    </div>  {% endcomment %}
  </div>
</main>